/* NavBar Styling */
.ui.menu:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

/* Jumbotron/Message styling */
.ui.message.message-container {
    text-align: center;
    padding: 0;
    box-shadow: unset;
    margin: 0;
    background: none;
}
/* UserForm styling */
.form-container{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}
/* UserForm alert message */
.ui.alertMssg {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}

.splash{
    animation-name: splash;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes splash {
    0% {opacity: 0; transform: scale(0.9);}
    30% {opacity: 0; transform: scale(0.9);}
    100% {opacity: 1;}
  }
